{% load static %}

<article>
    <ul>
      <li>
        Место: {{ post.location }}              
      </li>
      <li>
        Дата: {{ post.date }}
      </li>
      <li>
        Категория: <a href="{% url 'blog:category_posts' post.category %}"> {{ post.category }}</a>
      </li>
    </ul>          
    <p>

    {% comment %} Слышал, что нежелательно тег дробить на части, но кажется в данном
    случае это удобнее чем проверка активной страницы для 
    |truncatewords и >Читать полный текст< {% endcomment %}